[submodule "bonding-curve"]
	path = bonding-curve
	url = git@github.com:Shivrajsoni/bonding-curve.git
[submodule "Soffer"]
	path = Soffer
	url = git@github.com:Shivrajsoni/Soffer.git
[submodule "lending"]
	path = lending
	url = git@github.com:Shivrajsoni/lending_program.git
